<!-- views/database.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }

      form {
        display: flex;
        margin: 10px 40vw;
      }

      label {
        margin-right: 10px;
      }

      input {
        padding: 5px;
      }

      button {
        padding: 5px 10px;
        cursor: pointer;
        background-color: #555;
        color: #fff;
        border: none;
        border-radius: 5px;
      }

      button:hover {
        background-color: #777;
      }

      #students,
      #teachers,
      #groups {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
      }

      .data-container {
        flex-basis: calc(33.33% - 20px);
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <a href="http://localhost:3000/"><button>Back</button></a>
    <form action="/searchWithName" method="post">
      <label for="name">name: </label>
      <input type="text" name="name" />
      <button type="submit">search</button>
    </form>
    <form action="/searchWithSurname" method="post">
      <label for="surname">surname: </label>
      <input type="text" name="surname" />
      <button type="submit">search</button>
    </form>
    <form action="/searchWithIdentityNumber" method="post">
      <label for="identityNumber">identity number: </label>
      <input type="number" name="identityNumber" />
      <button type="submit">search</button>
    </form>
    <form action="/searchWithBirthDate" method="post">
      <label for="birthDate">birth date: </label>
      <input type="date" name="birthDate" />
      <button type="submit">search</button>
    </form>
    <form action="/searchWithGroupName" method="post">
      <label for="groupName">group name: </label>
      <input type="text" name="groupName" />
      <button type="submit">search</button>
    </form>
    <form action="/searchWithGroupNumber" method="post">
      <label for="groupNumber">group number: </label>
      <input type="number" name="groupNumber" />
      <button type="submit">search</button>
    </form>
    <form action="/resetDatabase" method="post">
      <button type="submit">Reset database</button>
    </form>

    <div id="students" data-student="<%= JSON.stringify(studentsData) %>">
      <!-- No need for individual properties here -->
    </div>
    <div id="teachers" data-teacher="<%= JSON.stringify(teachersData) %>"></div>
    <div id="groups" data-group="<%= JSON.stringify(groupsData) %>"></div>
    <script>
      const studentsContainer = document.querySelector("#students");
      const teachersContainer = document.querySelector("#teachers");
      const groupsContainer = document.querySelector("#groups");

      const studentsData = JSON.parse(studentsContainer.dataset.student);
      const teachersData = JSON.parse(teachersContainer.dataset.teacher);
      const groupsData = JSON.parse(groupsContainer.dataset.group);

      for (let i = 0; i < studentsData.length; i++) {
        const newDiv = document.createElement("div");
        newDiv.innerText = `student ${i + 1} \n
                            id: ${studentsData[i].StudentID} \n
                            name: ${studentsData[i].FirstName} \n
                            surname: ${studentsData[i].LastName} \n
                            identity number: ${
                              studentsData[i].IdentityNumber
                            } \n
                            birth date: ${studentsData[i].BirthDate} \n
                            email: ${studentsData[i].Email} \n
                            password: ${studentsData[i].Pass}`;

        newDiv.style.border = "1px solid black";
        newDiv.style.margin = "5px";

        studentsContainer.appendChild(newDiv);
      }
      for (let i = 0; i < teachersData.length; i++) {
        const newDiv = document.createElement("div");
        newDiv.innerText = `teacher ${i + 1} \n
                            id: ${teachersData[i].TeacherID} \n
                            name: ${teachersData[i].FirstName} \n
                            surname: ${teachersData[i].LastName} \n
                            identity number: ${
                              teachersData[i].IdentityNumber
                            } \n
                            birth date: ${teachersData[i].BirthDate} \n
                            email: ${teachersData[i].Email} \n
                            password: ${teachersData[i].Pass}`;

        newDiv.style.border = "1px solid black";
        newDiv.style.margin = "5px";

        teachersContainer.appendChild(newDiv);
      }
      for (let i = 0; i < groupsData.length; i++) {
        const newDiv = document.createElement("div");
        newDiv.innerText = `group ${i + 1} \n
                            GroupID: ${groupsData[i].GroupID} \n
                            GroupName: ${groupsData[i].GroupName} \n
                            GroupNumber: ${groupsData[i].GroupNumber} \n
                            Pass: ${groupsData[i].Pass} \n`;

        newDiv.style.border = "1px solid black";
        newDiv.style.margin = "5px";

        groupsContainer.appendChild(newDiv);
      }
    </script>
  </body>
</html>
