<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>WebSite</title>
  </head>
  <body>
    <div class="container">
      <a href="http://localhost:3000/login"
        ><button id="login">Login</button></a
      >
      <a href="http://localhost:3000/signup"
        ><button id="signup">Sign Up</button></a
      >
      <a href="http://localhost:3000/database"
        ><button id="signup">Database</button></a
      >
    </div>
  </body>
</html>
