<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" />
    <title>Log In</title>
  </head>
  <body>
    <a
      href="http://localhost:3000/"
      style="position: absolute; top: 10px; left: 10px"
      ><button>Back</button></a
    >
    <form action="/submitForm" method="post">
      <label for="text">email / group name: </label>
      <input type="text" name="email" />
      <label for="password">password: </label>
      <input type="password" name="password" />
      <button type="submit">Submit</button>
    </form>
    <script src="js/login.js"></script>
  </body>
</html>
