<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/signup.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <a
      href="http://localhost:3000/"
      style="position: absolute; top: 10px; left: 10px"
      ><button>Back</button></a
    >
    <h1>sign up as student</h1>
    <form action="/signUpStudentForm" method="post">
      <label for="name">name: </label>
      <input type="text" name="name" />
      <label for="surname">surname: </label>
      <input type="text" name="surname" />
      <label for="identityNumber">identity number: </label>
      <input type="number" name="identityNumber" />
      <label for="birthDate">birth date: </label>
      <input type="date" name="birthDate" />
      <label for="mail">mail: </label>
      <input type="email" name="mail" />
      <label for="password">password: </label>
      <input type="text" name="password" />
      <button type="submit">Submit</button>
    </form>

    <hr />
    <h1>sign up as signUpTeacherForm</h1>
    <form action="/signUpTeacherForm" method="post">
      <label for="name">name: </label>
      <input type="text" name="name" />
      <label for="surname">surname: </label>
      <input type="text" name="surname" />
      <label for="identityNumber">identity number: </label>
      <input type="number" name="identityNumber" />
      <label for="birthDate">birth date: </label>
      <input type="date" name="birthDate" />
      <label for="mail">mail: </label>
      <input type="email" name="mail" />
      <label for="password">password: </label>
      <input type="text" name="password" />
      <button type="submit">Submit</button>
    </form>

    <hr />
    <h1>sign up as group</h1>
    <form action="/signUpGroupForm" method="post">
      <label for="groupName">group name: </label>
      <input type="text" name="groupName" />
      <label for="groupNumber">group number: </label>
      <input type="number" name="groupNumber" />
      <label for="password">password: </label>
      <input type="text" name="password" />
      <button type="submit">Submit</button>
    </form>

    <script src="js/script.js"></script>
  </body>
</html>
